{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10 ">
    <h3 class="text-white my-5">About Page</h3>
    <p>Blog webpages are online platforms where individuals or organizations can publish articles, opinions, stories, or any other form of content in a chronological order. The term "blog" is short for "weblog," which originally referred to online journals or diaries but has since evolved to encompass a wide range of content types and purposes.

    The primary purpose of a blog webpage is to publish content regularly. This content can cover a vast array of topics, including personal experiences, hobbies, opinions, news, tutorials, reviews, and much more. Blogs are often used by individuals, businesses, non-profit organizations, and media outlets to share information with their audience.

    Blog posts are typically displayed in reverse-chronological order, with the most recent posts appearing at the top of the page. This allows visitors to see the latest content first and easily navigate through older posts by scrolling or using pagination.
    </p>
   
</div>
{% endblock content %}